# Created by .gitignore support plugin (hsz.mobi)

### Scala template
*.class
*.jar
*.log

# sbt specific
.bloop
.cache/
.history/
.lib/
.sbt/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# idea specific
*.idea
*.bsp

# Molecule-generated SQL schema files
*.sql

# Scala-IDE specific
.scala_dependencies
.worksheet

# Mac
*.DS_Store
*/.DS_Store
project/project/
node_modules/
*.json
/compliance/js/lib/
/compliance/jvm/lib/
/compliance/shared/lib/

*.cache